<h1> <%= @dealership.name %></h1>
<ul>
    <% @dealership.cars.each do |c|%>
    <%= link_to c.name, car_path(c) %>
    <% end %>    
</ul>


<li><%= link_to "list of dealerships", dealerships_path%></li>