<h1> <%= @dealership.name %></h1>
<ul>
    <% @dealership.cars.each do |c|%>
    <%=  link_to c.name, car_path(c) %>
    </br>
    <% end %>    
</ul>


<ul><%= link_to "list of dealerships", dealerships_path%></ul>