<h1> what date do you want your test drive to be </h1>

<%= form_for([@car, @test_drive]) do |f|%>
   <h2> pick your time to drive </h2>
     <%= f.date_select :test_drive_date %>
    <%= f.submit "drive time" %>
 <% end %>




