<h1> what date do you want your test drive to be </h1>

<%= form_for([@car, @test_drive]) do |f|%>
 
     <%= f.date_select :test_drive_date %>
    <%= f.submit "drive time" %>
 <% end %>

<h2><%= link_to "Do you want to see that car again ?", car_path(@car.id) %></h2> 




