<h1> hello hello, welcome to the dealership </h1>

<%= link_to "do you love and want to preserve the bones of dinosaurs click here!", cars_bettergas_path %>

<br>
<br>
<%= link_to "check out our dealerships", dealerships_path%>
